@import '../../../global/tokens.scss';

.destination {
  display: flex;
  padding: $token-spacing-19 $token-spacing-4 10rem;

  &--left-panel,
  &--right-panel {
    width: 50%;
  }
  &--right-panel {
    margin-top: -$token-spacing-8;
  }
}

@media only screen and (max-width: $token-max-width-tablet) {
  .destination {
    flex-direction: column;
    padding: $token-spacing-10 $token-spacing-10 $token-spacing-24;

    &--left-panel,
    &--right-panel {
      width: 100%;
    }
    &--left-panel {
      text-align: start;
    }
    &--right-panel {
      margin-top: 3.3125rem;
      padding: $token-spacing-0 $token-spacing-12 $token-spacing-0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .destination {
    &--left-panel {
      text-align: center;
    }
    &--right-panel {
      margin-top: 1.625rem;
      padding: $token-spacing-0;
    }
  }
}
