#app {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 2.5rem;
  min-height: 100vh;

  &.app {
    &--home {
      background-image: url('./assets/home/background-home-desktop.jpg');
    }
    &--destination {
      background-image: url('./assets/destination/background-destination-desktop.jpg');
    }
    &--crew {
      background-image: url('./assets/crew/background-crew-desktop.jpg');
    }
    &--technology {
      background-image: url('./assets/technology/background-technology-desktop.jpg');
    }
  }
}

.app {
  &--content {
    max-width: 1100px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1024px) {
  .app {
    &--content {
      max-width: 1000px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  #app {
    &.app {
      &--home {
        background-image: url('./assets/home/background-home-tablet.jpg');
      }
      &--destination {
        background-image: url('./assets/destination/background-destination-tablet.jpg');
      }
      &--crew {
        background-image: url('./assets/crew/background-crew-tablet.jpg');
      }
      &--technology {
        background-image: url('./assets/technology/background-technology-tablet.jpg');
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #app {
    &.app {
      &--home {
        background-image: url('./assets/home/background-home-mobile.jpg');
      }
      &--destination {
        background-image: url('./assets/destination/background-destination-mobile.jpg');
      }
      &--crew {
        background-image: url('./assets/crew/background-crew-mobile.jpg');
      }
      &--technology {
        background-image: url('./assets/technology/background-technology-mobile.jpg');
      }
    }
  }
}
