.app {
  &--super-heading {
    margin-top: 4.75rem;
    padding: 0 1rem;
  }
}
.home {
  &--super-heading {
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 1024px) {
  .app {
    &--super-heading {
      margin-top: 2.5rem;
    }
  }
  .home {
    &--super-heading {
      text-align: center;
      margin-top: 6rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .app {
    &--super-heading {
      margin-top: 2.125rem;
      text-align: center;
    }
  }
  .home {
    &--super-heading {
      margin-top: 3rem;
    }
  }
}
