@import '../../../../global/tokens.scss';

.destination {
  &--nav-items {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: $token-max-width-tablet) {
  .destination {
    &--nav-items {
      justify-content: space-evenly;
    }
  }
}
